*{
background-color: #151D3B;
color: #DADBBD;
}

nav{
background-color: #D82148;
margin: 20px;
padding: 20px;
float:right;
}
nav li {
text-decoration: none;
float:left;
}

body{
}

footer{
background-color: #D82148;
margin: 20px;
  padding:20px;
}

